
<template>
  <div class="container">
    <div class="input-group">
      <section class="numbers">
       
        <input v-model.number="hours" :class="hoursClass" id="hours" />
        <label for="hours">час</label>
        <!-- <Number v-model="hours" label="hours">h</Number> -->
        <input v-model.number="minutes" :class="minutesClass" id="minutes" />
        <label for="minutes">мин</label>
        <input v-model.number="seconds" :class="secondsClass" id="seconds" />
        <label for="seconds">сек</label>
      </section>
      <transition name="button-fade" mode="out-in">
        <div v-if="!started" class="button-group">
          <button @click="start">Установить таймер</button>
          <button v-if="alarm && !alarm.ended" class="small-button" @click="stopAlarm">Звук</button>
        </div>
        <div v-else class="button-group">
          <button @click="pauseToggle">{{ paused ? 'Продолжить' : 'Пауза' }}</button>
          <button class="small-button" @click="reset">Сбросить</button>
          <button class="small-button" @click="deleteIt">Заново</button>
        </div>
      </transition>
    </div>

    <Crescent />
    
  </div>
</template>

<script>
const defaultTimer = { h: 0, m: 0, s: 0 }


const widen = (num) => {
  return { 'wide-input': num > 99}
}

export default {
  data() {
    return {
      hours: 0,
      minutes: 2,
      seconds: 0,
      settings: { ...defaultTimer },
      started: false,
      paused: false,
      timer: null,
      alarm: null
    }
  },
  computed: {
    hoursClass() {
      return widen(this.hours)
    },
    minutesClass() {
      return widen(this.minutes)
    },
    secondsClass() {
      return widen(this.seconds)
    },
    currentSetting() {
      return {h: this.hours, m: this.minutes, s: this.seconds}
    },
    isDone () {
      return this.hours === 0 && this.minutes === 0 && this.seconds === 0
    }
  },
  methods: {
    start () {
      this.fixTimer()
      if (this.isDone) return

      this.settings = this.currentSetting
      this.started = true
      
      this.timer = setInterval(this.runTimer, 1000)
    },
    pauseToggle () {
      this.paused = !this.paused
    },
    reset () {
      this.paused = true
      this.resetTimer()
    },
    deleteIt () {
      this.started = false
      this.paused  = false
      this.settings = { ...defaultTimer }
      this.clearTimer()
      this.resetTimer()
    },
    resetTimer () {
      this.hours   = this.settings.h
      this.minutes = this.settings.m
      this.seconds = this.settings.s
    },
    fixTimer() {
      if (!this.hours)   this.hours   = 0
      if (!this.minutes) this.minutes = 0
      if (!this.seconds) this.seconds = 0
    },
    runTimer () {
      this.fixTimer()
      if (!this.paused) {
        if (this.seconds === 0) {
          if (this.minutes === 0) {
            this.hours -= 1
            this.minutes = 59
          } else {
            this.minutes -= 1
            this.seconds = 59
          }
        } else {
          this.seconds -= 1
        }
      }
      if (this.isDone) {
        this.done()
      }
    },
    done () {
      this.started = false
      this.clearTimer()

      this.playAlarm()
    },
    async playAlarm () {
      this.alarm = new Audio(require('@/assets/alarmtone.mp3').default)
      this.alarm.play()
      setTimeout(() => { this.stopAlarm() }, 10000)
    },
    stopAlarm () {
      if (this.alarm) {
        this.alarm.pause()
        this.alarm = null
      }
    },
    clearTimer () {
      if (this.timer) {
        clearInterval(this.timer)
      }
    }
  },
}
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

input,
.input-group {
  font-size: 4rem;
  
  
}

.input-group {
  display: flex;
  flex-direction: column;

  position: absolute;
  z-index: 5;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2rem;
}

button {
  font-size: 2.5rem;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-family: 'Open Sans', sans-serif;
  transition: 0.5s;
}

.small-button {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  margin-left: 1.25rem;
}

button:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(1.1);
  transition: 0.5s;
}

.wide-input {
  width: 15rem;
}

input {
  width: 5rem;
  border: solid;
  border-radius: 30%;
  background-color: inherit;
  text-align: center;
  backdrop-filter: blur(22px);
  background-color: #fff;
  

  &:focus-visible {
    outline: none;
  }
}

/* Mobile styles */
@media (min-width: 20em) and (max-width: 30em) {
  .numbers {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1rem;
  }

  label {
    padding-bottom: 2rem;
    
  }

  input {
    text-align: center;
    font-size: 3rem;
    width: 25%;
    
  }
}
</style>