<template>
  <div class="app-container">
    <Timer /> 
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
.app-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>